body{
    margin: 0;
}

header{
    padding: 15px;
    background-color: rgb(92, 232, 169);
    font-family: Tahoma, Verdana, sans-serif;
    font-variant: small-caps;
    color: rgb(169, 108, 177);
    border-bottom: 1px solid rgba(153, 182, 111, 0.495);
}


main{
    background-color: rgb(146, 216, 216);
    padding: 15px;
    padding-left: 50px;
    font-family: "Open Sans", sans-serif;
}

h2{
    font-size: 80px;
    margin: 0;
    font-family: Merriweather, serif; 
}

form{
    width: 40%;
    border: 2px;
    border-style: double;
    border-color: beige;
}

label{
    margin: 10px;
    padding: 5px 20px; 
    font-weight: 1000;
}

.withlabel{
    display: inline;
}

input{
    margin: 10px;
    padding: 5px 20px;
}

#submit{
    font-size: 20px;
    border-radius: 5px;
}

footer{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 39px;
    background-color: rgb(20, 80, 84);
}